.todo{
    width: 100%;
    height: 55px;
    padding: 0;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #3cd068;
    border-radius: 7px;
    background-color: #fff9f5;
    position: relative;
    transition: all 0.5s ease;

    #checkbox{
        position: absolute;
        left: 10px;
        appearance: none;
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        background-color: #d5d5d5;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #checkbox:after{
        font-weight: 900;
        content: '✔️';
    }
    
    #checkbox:hover{
        background-color: #a5a5a5;
    }
    
    #checkbox:checked{
        background-color: #3cd068;
    }

    p{
        max-width: 600px;
        overflow: hidden;
        position: absolute;
        left: 60px;
    }

    .icon{
        font-size: 20px;
    }

    #btn-edit{
        background-color: #3de0e9;
        position: absolute;
        right: 70px;
    }

    #btn-delete{
        background-color: #FA593D;
        position: absolute;
        right: 10px;
    }
}

.finished{
    opacity: 0.6;
    
    p{
        color: #808080;
        text-decoration: line-through;
    }
}