.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul{
    width: 800px;
    padding: 0;
    list-style: none;

    .list-menu{
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #696868;
      cursor: pointer;
    }
  }
}